#!/usr/bin/env xdg-open
[Desktop Entry]
Name=soundClient
Exec=SCLIENT_PATH/soundClient
Icon=SCLIENT_PATH/icon2.png
Type=Application
Categories=Audio;Music;
Comment=A simple SoundCloud Client for Linux
Terminal=false
